[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
twilio = "*"
flask = "*"
python-dotenv = "*"
gspread = "*"
oauth2client = "*"
fuzzywuzzy = {extras = ["speedup"], version = "*"}

[requires]
python_version = "3.6"
